MYSQLDB_DATABASE=medical_card_application
MYSQLDB_USER=medcard_user
MYSQLDB_PASSWORD=
MYSQLDB_ROOT_PASSWORD=
JWT_SECRET=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
STORAGE_BUCKET=medical-card-documents
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=no-reply@medicalcard.local
